div[class^=grid] {
    border: 1px solid black
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
}

/* .grid-item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
} */

/* .grid-item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: span 3;
} */

.grid-item-1 {
    background-color: green;
    grid-column: 1/4;
}

.grid-item-2 {
    background-color: lightblue;
}
.grid-item-3 {
    background-color: aqua;
}

.grid-item-4 {
    background-color: lightcyan;
}

.grid-item-5 {
    background-color: lightgray;
}

.grid-item-6 {
    background-color: brown;
}