body {
    background-color: lightgray;
}

.container {
    width:80%;
    /* border-width: 1px;
    border-style: double;
    border-color: black; */
    border: 1px solid black;
    background-color: brown;
}

.container-fluid {
    width: 90%;
    border: 1px double red;
}

.aueb-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color:aliceblue
}

.icon-small {
    width:150px;
    height: auto;
}

.courses-wrapper {
    background-color: aquamarine;
}

.courses-text {
    color: beige;
    font-size: 1.1 rem;
}