.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box1{
    background-color: lightblue;
    flex: 0 0 100px;
}

.box2{
    background-color: lightgray;
    flex: 1 0 500px;
}

.box3 {
    background-color: lightcoral;
    flex: 0 0 1000px;
}